html,
body {
	height: 100%;
	min-height: 500px;
	margin: 0;
	padding: 0;
	}
body.colored {
	background: #FFFFFF; /* Old browsers */
	background: -moz-linear-gradient(top, #5393C5 0%, #FFFFFF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5393C5), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5393C5 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5393C5 0%,#FFFFFF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5393C5 0%,#FFFFFF 100%); /* IE10+ */
	background: linear-gradient(top, #5393C5 0%,#FFFFFF 100%); /* W3C */
	background-attachment: fixed;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5393C5', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
	}
#layout-container {
	padding-top: 2em;
	}
#layout-page {
	position: relative;
	max-width: 1240px;
	min-width: 980px;
	height: auto;
	margin: 0em auto;
	padding: 0em;
/*	padding: 2em 3em;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.75);
	box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.5);
	background-position: 40px 15px;
	border-radius: 1.5em;*/
	background-color: rgba(255,255,255,0.9);
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25);
}

#layout-header {
	position: absolute;
	height: 60px;
	background-image: url(../img/brick_64.png);
	background-repeat: no-repeat;
	background-position: 32px 10px;
	background-size: 32px;
	overflow: visible;
	}
#layout-header h1,
#layout-header div {
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	margin-left: 80px;
	}
#layout-header h1 {
	font-size: 2em;
	}
#layout-header div {
	font-size: 1.1em;
	}

#layout-navigation {
	padding-top: 10px;
	border-bottom: 5px solid #008FAF;
	}

#layout-navigation-main {
	position: relative;
	background-color: transparent;
	}
#layout-navigation-main-inner {
	width: 80%;
	padding: 0 0 0 20%;
	}

#layout-navigation-top {
	position: relative;
	}
#layout-navigation-top label {
/*	font-weight: bold;*/
	font-size: 1.2em;
	}

#layout-field {
	clear: left;
	padding: 0px 20px;
	}

#layout-content {
	padding: 1em 0em;
	}

#selector-instance {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 100;
	padding: 0.5em 1.25em 0.3em 1.25em;
	border-radius: 0.75em 0.75em 0 0;
	background-color: #00AFC4;
	background-color: rgba(127,127,127,0.15);
	}
#selector-instance #input_instanceId{
	width: 200px;
	font-size: 1.2em;
	border-width: 2px;
	}
#selector-instance #input_instanceId:focus{
	border-color: #008FAF;
	}
	
h2 {
	margin: 0.1em 0em 0.1em;
	}

#layout-page a:hover {
	text-decoration: underline;
	}


h3 {
	margin-bottom: 2px;
	}
h4 {
	margin-bottom: 2px;
	}

a.button.tiny {
	display: block;
	float: left;
	margin: 0px 2px 0px 0px;
	padding: 2px 3px;
	height: auto;
	}
a.button.tiny img {
	display: block;
	float: left;
	padding: 0px;
	height: 16px;
	width: 16px;
	}
	
a.button.tiny.disabled {
	cursor: default;
	border: 1px solid #CCC;
	}
a.button.tiny.disabled img {
	opacity: 0.5;
	}

a {
	color: #005F8F;
	text-decoration: none;
	}
.ui-widget-content a {
	color: #005F8F;
	}

button span {
	text-shadow: 0px 1px 0px white, 0px -1px 0px #BFBFBF;
	}

	
/*  --  INDEX  --  */
div.index ul.instances {
	margin: 0px;
	padding: 0px;
	}
/*div.index ul.instances li {
	min-height: 18px;
	padding: 1px 4px;
	margin: 0px;
	list-style: none;
	font-size: 1.1em;
	}
div.index ul.instances li.active {
	background-color: #EEE;
	}
div.index ul.instances li.check-okay,
div.index ul.instances li.check-fail {
	background-repeat: no-repeat;
	background-position: right 2px;
	}
div.index ul.instances li.check-okay {
	background-image: url(http://img.int1a.net/famfamfam/silk/tick.png);
	}
div.index ul.instances li.check-fail {
	background-image: url(http://img.int1a.net/famfamfam/silk/cross.png);
	}
div.index ul.instances li.active a {
	}
*/	

div.index ul.instances li {
	min-height: 18px;
	padding: 1px 4px;
	margin: 0px;
	list-style: none;
	border-radius: 3px;
	}
div.index ul.instances li.active {
	background-color: #DFDFDF;
	}
div.index ul.instances li.check-okay,
div.index ul.instances li.check-fail {
	}
div.index ul.instances li.check-okay {
	}
div.index ul.instances li.check-fail {
	background-repeat: no-repeat;
	background-position: right 2px;
	background-image: url(http://img.int1a.net/famfamfam/silk/bullet_error.png);
	}
div.index ul.instances li.active a {
	}
/*	--  COLORED ACTIVE INSTANCE
div.index ul.instances li.active {
	background-color: #00AFC4;
	}
div.index ul.instances li.active a {
	color: white;
	font-weight: bold;
	}
*/

div.index .index-config-module {
	cursor: pointer;
	background-color: #EFEFEF;
	padding: 4px 10px 2px 10px;
	height: 1.5em;
	line-height: 1.5em;
	}

div.index dl.index-config {
	display: none;
	}
div.index dl.index-config dt {
	clear: both;
	float: left;
	margin: 0px;
	padding: 1px 2px 1px 10px;
	font-weight: normal;
	font-size: 1.0em;
	}
div.index dl.index-config dd {
	margin: 0px;
	padding: 0px 6px 0px 0px;
	border-bottom: 1px solid #DDD;
	text-align: right;
	min-height: 18px;
	font-size: 1.1em;
	}

div.index .index-system .info-graph {
	float: right;
	padding-top: 2px;
	}
div.index .muted {
	font-weight: lighter;
	color: #777;
	}

