title			= "JavaScript Errors"
description		= "Feed of catched JavaScript Errors"
link			= ""
managingEditor	= ""
webMaster		= ""
imageUrl		= ""
imageTitle		= ""
imageLink		= ""
copyright		= "2008"
language		= "en"
timezone		= "+0100"
ttl				= "120"
docs			= "http://blogs.law.harvard.edu/tech/rss"
