xmp.code,
xmp.css,
xmp.csv,
xmp.php,
xmp.ini,
xmp.js,
xmp.html,
xmp.xml {
	border: 1px solid #EEE;
	border-left-width: 8px;
	background: #F7F7F7;
	padding: 1em;
	font-family: "Lucida Console", mono-type;
	font-family: 'andale mono','lucida console',monospace;
	font-size: 1em;
	overflow: auto;
	}
xmp.php {
	border-color: #9999CC;
	}
xmp.sql	{
	border-color: #124E60;
	}
xmp.js {
	border-color: #AADD99;
	}
xmp.xml {
	border-color: #333;
	}
xmp.csv {
	border-color: #666;
	}
xmp.max300 {
	max-height: 300px;
	overflow: auto;
	}
xmp.max400 {
	max-height: 400px;
	overflow: auto;
	}
